build
.DS_Store
*.tmproj
api.jsca
*.project
.settings
.idea
.project
*.iml
cache
target/*
.classpath
web-app/WEB-INF/classes/*
out/
import-matchi*
/**/*.codekit*
/deploy/repository/
.slcache

.idea
doc
.git